.button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 25px 0;
  background-color: $blue-color;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  width: 200px;
  border-radius: 5px;
  letter-spacing: 1.3px;
}
