.header {
  height: 100vh;
  background-image: url(../assets/header-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__content {
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


}