.icon {
  display: block;
  width: 18px;
  height: 18px;
  background-size: contain;

  &--menu {
    background-image: url(../assets/menu-icon.png);
  }
  
  &--arrow {
    background-image: url(../assets/scroll-down.png);
  }
}

